
#app {
  display: flex;
  flex-direction: column;
} 

#user-input {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ced4da;
  border-radius: 1rem;
}

button {
  align-self: center;
}

.projects {
  margin: 1rem 0;
  border: 1px solid #0b5ed7;
  border-top: none;
  border-radius: 1rem;
}

.projects header {
  background: #0b5ed7;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
}

#finished-projects {
  border-color: #6baf69;
}

#finished-projects header {
  background: #6baf69;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: white;
}

.projects li h2 {
  color: #0b5ed7;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #6baf69;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
} 

.droppable {
  background: #d6e1ff;
}

#finished-projects .droppable {
  background: #cdeccc;
}
